{% extends 'index.html' %}

{% block content %}
<style>
    .container {
        height: 100%;
        width: 100%;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .table-container {
        flex: 1;
        overflow: auto;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    th,
    
    td {
        text-align: center;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    table td {
        text-align: left;
        white-space: wrap;
        overflow: hidden;
        vertical-align: middle;
    }

    thead {
        position: sticky;
        top: 0;
    }

    th {
        background-color: #e4eef3;
        vertical-align: middle;
        overflow: hidden;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        /* Light gray for even rows */
    }

    tr:nth-child(odd) {
        background-color: white;
        /* White for odd rows */
    }

    .selected {
        background-color: yellow;
    }
</style>

{% if message %}
<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <p style="font-size: 16px; font-weight: bold;">{{ message }}</p>
</div>
{% else %}

<div class="container">
    <div class="table-container">
        <table>
            <thead>
                {% include 'base/maintenance_logs/table_header.html' %}
            </thead>
            {% for log in maintenance_logs_data %}
                {% include 'base/maintenance_logs/table_row.html' %}
            {% endfor %}

        </table>
    </div>
</div>
{% endif %}
{% endblock %}