{% load static %}

<tr>
    <th class="col-name-row"></th>
    <th class="col-name-row">Incident</th>
    <th class="col-name-row">ID</th>
    <th class="col-name-row">Replaced</th>
    <th class="col-name-row">Item Cost</th>
    <th class="col-name-row">Personnel Count</th>
    <th class="col-name-row">Elapsed Time (Hrs)</th>
    <th class="col-name-row">Work Log</th>
    <th class="col-name-row">Total Maintenance Time</th>
    <th class="col-name-row">Total Maintenance Time</th>
    <th class="col-name-row">Maintenance Cost</th>
    <th class="col-name-row">Start Date</th>
  </tr>