{% extends 'index.html' %}
<!-- {% load custom_filters %}  -->
{% load static %}

{% block content %}

<div class="container">
    <div class="table-container">
        <table style="table-layout: fixed; width: 100%;">
            <thead style="position: sticky; top: 0;">
                {% include 'base/incidents/table_header.html' %}
            </thead>
            <tbody>
                {% for incident in page_obj %}
                {% with row_number=forloop.counter|add:start_number %}
                {% include 'base/incidents/table_row.html' %}
                {% endwith %}
                {% empty %}
                <tr>
                    <td colspan=3 style="text-align: center;">No hay incidentes para mostrar</td>
                    <!-- Reemplaza colspan con el número de columnas -->
                </tr>
                {% endfor %}
                <tr style="background-color: #ffce55; height: 10px;">
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Controles de paginación -->
    <div class="pagination">
        <div class="pagination-container">
            {% if page_obj.has_previous %}
                <a class="pagination-button" href="?page=1&project_id={{ request.GET.project_id }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">&laquo; Primera</a>
                <a class="pagination-button" href="?page={{ page_obj.previous_page_number }}&project_id={{ request.session.project_id }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="pagination-button" href="?page={{ page_obj.next_page_number }}&project_id={{ request.session.project_id }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">Siguiente</a>
                <a class="pagination-button" href="?page={{ page_obj.paginator.num_pages }}&project_id={{ request.session.project_id }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">Última &raquo;</a>
            {% endif %}
        </div>
        <!-- Formulario para la exportacion a excel -->
        <form action="{% url 'export_incidents' %}" method="get" class="export-form-button">
            <button type="submit">Exportar a Excel</button>
        </form>
    </div>
</div>

<script>
    // Initialize selectedIncidentId with the default or initial value
    let selectedIncidentId = document.getElementsByClassName('clickable-row')[0].getAttribute('value');

    // Function to get the CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const rows = document.querySelectorAll('.clickable-row');

    rows.forEach(row => {
        row.addEventListener('click', () => {
            const clickedIncidentId = row.getAttribute('value');
            selectedIncidentId = clickedIncidentId;
            // Remove 'selected' class from all rows
            rows.forEach(r => r.classList.remove('selected'));
            // Mark the clicked row as selected
            row.classList.add('selected');

            fetch('/get-maintenance-logs/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: selectedIncidentId,
            }).then(handleResponse)
                .catch(handleError);
        })

        function handleResponse(response) {
            if (!response.ok) {
                console.log('Error POST get-maintenance-logs')
                throw new Error('Request failed');
            }
            console.log('Request successful');
            window.location.href = "{% url 'view_maintenance_logs' %}";
        }

        function handleError(error) {
            console.error('Error:', error);
        }
    });
</script>
{% endblock %}