<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armada</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div style="flex-grow: 1; overflow: auto; width: 100vw;">
        {% block content %}
        {% endblock %}
    </div>
</body>
<html>