body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 100%;
  background-color: #343a41;
  padding: 12px;
  font-size: medium;
}

.custom-link {
  text-decoration: none;
  padding: 12px;
  transition: background-color 0.3s;
  color: #989f9f;
}

.custom-link:hover {
  background-color: #4b5057;
}

.state-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-input-container {
  width: 100%;
  border: 1px solid gray;
  padding: 25px 15px 15px 15px;
  position: relative;
  margin-bottom: 20px;
}

.title-input-container {
  font-size: 16px;
  color: black;
  position: absolute;
  top: -14px;
  padding: 4px;
  background-color: white;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
}

.input-label {
  text-align: end;
  width: auto;
  margin-right: 10px;
}

.input-box {
  min-width: 250px;
  background-color: #f6f6f6;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.button {
  padding: 5px 40px;
  font-size: small;
  text-align: center;
  border: 1px solid #989f9f;
  border-radius: 2px;
  background-color: #f6f6f6;
  color: #000000;
  cursor: pointer;
  outline: none;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  cursor: pointer;
}

/* Style the custom checkbox */
input[type="checkbox"]:checked {
  background-color: #343a41;
  border: 2px solid #000000;
}

.create-incident-button {
  font-size: small;
  text-align: center;
  padding: 8px 40px;
  background-color: #2f7332;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-incident-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #174119;
}

.filter_row {
  background-color: #abbec7;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #ccc;
}

.col-name-row {
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  background-color: #e4eef3;
  vertical-align: middle;
  overflow: hidden;
}

.filter_box {
  background-color: #abbec7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dropdown_sort_by {
  padding: 3px;
  margin-right: 5px;
  background-color: #ffffff;
}

.filter_text {
  display: flex;
  flex-wrap: nowrap;
  padding: 3px;
  margin-right: 5px;
  background-color: #ffffff;
  overflow: hidden;
}

.table-data {
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  text-align: left;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.table-data:hover {
  white-space: normal;
  overflow: visible;
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table-container {
  flex: 1;
  overflow: auto;
}

.selected {
  background-color: yellow;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.filter-form {
  margin: 20px 0;
  padding: 15px;
  background-color: #e4eef3;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.filter-form label,
.filter-form input,
.filter-form select,
.filter-form button {
  margin-right: 10px;
  margin-bottom: 0;
}

.filter-form label {
  font-weight: bold;
}

.filter-form input,
.filter-form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-form button {
  padding: 8px 15px;
  background-color: #174119;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #2f7332;
}

.export-form-button {
  position: absolute;
  right: 20px;
  padding: 8px 15px;
  background-color: #2f7332;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.export-form-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #174119;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.pagination-container {
  display: flex;
  margin: 8px;
}

.pagination-button {
  color: #174119;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #2f7332;
  color: white;
}

.current {
  font-weight: bold;
  padding: 8px 15px;
  background-color: #be9224;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}

/* =============== table_selector.html ================================ */

.custom-table-selector {
  position: relative;
  display: inline-block;
}

.custom-dropdown-toggle {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-dropdown-toggle .caret {
  margin-left: 5px;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.custom-dropdown-item {
  color: black;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}

.custom-dropdown-item input[type="checkbox"] {
  margin-right: 10px;
}

.custom-table-selector:hover .custom-dropdown-menu {
  display: block;
}

.custom-dropdown-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
    
.custom-dropdown-item input[type="checkbox"] {
  display: none;
}
    
.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
    
.checkbox-custom:after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #343a41;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
    
.custom-dropdown-item input[type="checkbox"]:checked + .checkbox-custom:after {
  display: block;
}
    
.label-text {
  margin-left: 5px;
}

