{% extends 'index.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div
    style="display: flex; flex-direction: column; align-items: center; margin: 0px 20px 0px 20px;">
    <div style="display: flex; justify-content: space-between; margin-top: 30px; width: 100%;">

<div class="main-input-container">
  <h3 class="title-input-container">Create Incident</h3>
  <div style="display: flex; justify-content: space-between;">
    <div>
      <div class="input-container">
        <label class="input-label">Project:</label>
        <input type="text" value="{{ project_name }}" class="input-box" name="project" disabled />
        <input type="hidden" value="{{ project_id }}" class="input-box" name="project_id" disabled />
      </div>
      <div class="input-container">
        <label class="input-label">System:</label>
        <input type="text" value="{{ system_name }}" class="input-box" name="system" disabled />
        <input type="hidden" value="{{ system_id }}" class="input-box" name="system_id" disabled />
      </div>
      <div class="input-container">
        <label class="input-label">Configuration:</label>
        <input type="text" value="{{ configuration_name }}" class="input-box" name="configuration" disabled />
        <input type="hidden" value="{{ configuration_id }}" class="input-box" name="configuration_id" disabled />
      </div>
      <div class="input-container">
        <label class="input-label">Item:</label>
        {% if not tree_item_name %}
        <select id="tree_item_name" name="tree_item_name" class="input-box">
          <option value="">Select Item</option>
          {% for item in tree_items_data %}
          <option value="{{ item.Name }}" data-id="{{ item.ID }}">{{ item.Name }}</option>
          {% endfor %}
        </select>
        <input type="hidden" id="tree_item_id" name="tree_item_id" class="input-box">
        <script>
          // JavaScript to set the hidden input's value when an option is selected
          document.getElementById('tree_item_name').addEventListener('change', function () {
            var selectedOption = this.options[this.selectedIndex];
            var treeItemIdInput = document.getElementById('tree_item_id');
            treeItemIdInput.value = selectedOption.getAttribute('data-id');
            console.log('treeItemIdInput', treeItemIdInput.value)
          });
        </script>
        {% else %}
        <input type="text" value="{{ tree_item_name }}" id="tree_item_name" name="tree_item_name" class="input-box">
        <input type="hidden" value="{{ tree_item_id }}" id="tree_item_id" name="tree_item_id" class="input-box">
        {% endif %}
      </div>
      <div class="input-container">
        <label class="input-label">Name:</label>
        <input type="text" value="{{ create_incident_form.name }}" class="input-box" name="person_incident_entry" />
      </div>
      <div class="input-container">
        <label class="input-label" for="user_text22_failure_detection_situation">Equipment Failure Detection
          Situation:</label>
        <select id="user_text22_failure_detection_situation" name="user_text22_failure_detection_situation"
          class="input-box">
          <option value="">Select Item</option>
          <option value="working">Working</option>
          <option value="paused">Paused</option>
          <option value="maintenance">Maintenance</option>
        </select>
      </div>
    </div>
    <div
      style="height: 100%; display: flex; flex-direction: column ; align-items: center; justify-content: space-between;">
      <img src="{% static 'images/escudoArmada.png' %}" alt="Escudo Armada" style="height: 214px;">
    </div>
    <div>
      <div class="input-container">
        <label class="input-label" for="user_text23_failure_buque_situation">Buque Failure Detection Situation:</label>
        <select id="user_text23_failure_buque_situation" name="user_text23_failure_buque_situation" class="input-box">
          <option value="">Select Item</option>
          <option value="docked">Docked</option>
          <option value="navigating">Navigating</option>
          <option value="immobilized">Immobilized</option>
        </select>
      </div>
      <div class="input-container">
        <label class="input-label" for="user_text24_failure_effect_item">Equipment Failure Effect:</label>
        <select id="user_text24_failure_effect_item" name="user_text24_failure_effect_item" class="input-box">
          <option value="">Select Item</option>
          <option value="inoperative">Inoperative</option>
          <option value="degraded">Degraded</option>
          <option value="non effect">Non Effect</option>
        </select>
      </div>
      <div class="input-container">
        <label class="input-label" for="user_text25_failure_evidence">Failure Evidence:</label>
        <select id="user_text25_failure_evidence" name="user_text25_failure_evidence" class="input-box">
          <option value="">Select Item</option>
          <option value="visible">Visible</option>
          <option value="hidden">Hidden</option>
        </select>
      </div>
      <div class="input-container">
        <label class="input-label">Incident Date:</label>
        <input type="date" value="{{ create_incident_form.occurrence_date.value|default:''|date:'Y-m-d' }}"
          class="input-box" name="occurrence_date" id="occurrence_date" />
      </div>
      <div class="input-container">
        <label class="input-label">Incident Time:</label>
        <input type="text" value=""
          class="input-box" name="occurrence_time" id="occurrence_time" />
      </div>
      <div class="input-container">
        <label class="input-label">User Failure Detection:</label>
        <input type="text" value="{{ create_incident_form.user }}" class="input-box"
          name="user_text26_user_failure_detection" />
      </div>
    </div>
  </div>
  <div class="input-container" style="width: 100%;">
    <label class="input-label" style="width: 140px; text-align: right;">Incident Description:</label>
    <!-- <textarea name="remarks_close_out" rows="6" class="input-box" style="width: 100%; text-align: left;" value=""> -->
    <textarea name="description_incident" rows="6" class="input-box" style="width: 100%; text-align: left;" value="">
  </textarea>
  </div>
</div>
</div>
<div style="display: flex; justify-content: center; padding-bottom: 20px;">
    <input type="submit" value="Create Incident" class="button">
</div>
</div>

</form>

{% endblock %}