{% extends 'index.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<style>
.create-confirmation-popup-container {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 20%;
  z-index: 10;
  background-color: white;
  padding-top: 20px;
}

.create-confirmation-popup-message {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
}
</style>

<div style="padding: 0 20px 0 20px; display: flex; justify-content: center; align-items: center;">

  <div class="create-confirmation-popup-container" id="create-confirmation-popup-container" hidden>
    <p class="create-confirmation-popup-message">Create done</p>
    <button class="create-incident-button" id="popup-ok-button" onclick="closePopup()">Close</button>
  </div>

  <form method="POST" enctype="multipart/form-data" id="create-form">
    {% csrf_token %}
    <div style="display: flex; justify-content: space-between; margin-top: 30px; width: 100%;">

      <div>
        <div class="main-input-container">
          <h3 class="title-input-container">Atributos del Equipo</h3>
          <div style="display: flex; flex-direction: column; justify-content: flex-end; width: auto;">
            <div class="input-container">
              <label for="project_id" class="input-label">Clase</label>
              <select id="project_id" name="project_id" class="input-box">
                <option value="">Selecione Clase</option>
                {% for project in allProjects.value %}
                <option value="{{ project.ID }}">{{ project.Name }}</option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" id="project_name" name="project_name" value="">
            <div class="input-container">
              <label class="input-label">Serie</label>
              <select id="system_id" name="system_id" class="input-box" disabled>
                <option value="">Selecione Serie</option>
              </select>
            </div>
            <input type="hidden" id="system_name" name="system_name" value="">
            <div class="input-container">
              <label class="input-label">Buque afetado por fallo</label>
              <select id="configuration_id" name="configuration_id" class="input-box" disabled>
                <option value="">Selecione Buque</option>
              </select>
              <input type="hidden" id="configuration_name" name="configuration_name" value="">
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">MFD</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" />
              <input type="hidden" value="" class="input-box" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label">HSC</label>
              <select id="" name="" class="input-box" disabled>
                <option value="">Selecione HSC</option>
              </select>
              <input type="hidden" id="" name="" value="">
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Nombre del equipo afectado por fallo</label>
              <textarea name="person_incident_entry" rows="4" class="input-box" style="width: 143px;"
                value="{{ create_incident_form.name }}" disabled></textarea>
            </div>
            <div class="input-container">
              <label class="input-label" for="user_text22_failure_detection_situation">Situación del equipo a la
                deteccion del fallo</label>
              <select id="user_text22_failure_detection_situation" name="user_text22_failure_detection_situation"
                class="input-box">
                <option value="">Selecione situación</option>
                <option value="working">Funcionamiento</option>
                <option value="paused">Reposo</option>
                <option value="maintenance">Mantenimiento</option>
              </select>
            </div>
            <div class="input-container">
              <label class="input-label" for="user_text23_failure_buque_situation">Situación del buque a la detección
                del fallo</label>
              <select id="user_text23_failure_buque_situation" name="user_text23_failure_buque_situation"
                class="input-box">
                <option value="">Selecione situación</option>
                <option value="docked">En puerto</option>
                <option value="navigating">En navegación</option>
                <option value="immobilized">En inmovilización</option>
              </select>
            </div>
            <div class="input-container">
              <label class="input-label" for="user_text24_failure_effect_item">Efecto del fallo sobre el equipo</label>
              <select id="user_text24_failure_effect_item" name="user_text24_failure_effect_item" class="input-box">
                <option value="">Selecione efecto</option>
                <option value="inoperative">Equipo inoperativo</option>
                <option value="degraded">Equipo degradado</option>
                <option value="non effect">Sin efecto sobre equipo</option>
              </select>
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Instalación afectada</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Local</label>
              <textarea name="" rows="4" class="input-box" style="width: 143px;" value="" disabled></textarea>
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Tipo ECS</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">NSM</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Part number</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Serial number</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">NCAGE</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label" style="width: auto;">Fabricante</label>
              <input type="text" value="" class="input-box" style="width: 143px;" name="" disabled />
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <div></div>
        <div
          style="height: 300px; display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 60px 0 60px;">
          <img src="{% static 'images/escudoArmada.png' %}" alt="Escudo Armada" style="height: 100%;">
          <div class="input-container">
            <input type="text" value="" class="input-box" style="width: auto" name="" disabled />
          </div>
        </div>
        <div style="display: flex; justify-content: center; padding-bottom: 20px;">
          <input type="submit" value="Crear Incidente" class="create-incident-button" id="create-incident-button">
        </div>
      </div>

      <div>
        <div class="main-input-container">
          <h3 class="title-input-container">Atributos de Incidencia</h3>
          <div style="display: flex; flex-direction: column; justify-content: flex-end; width: auto;">
            <div class="input-container">
              <label class="input-label" for="user_text25_failure_evidence">Evidencia del fallo</label>
              <select id="user_text25_failure_evidence" name="user_text25_failure_evidence" class="input-box">
                <option value="">Selecione evidencia</option>
                <option value="visible">Visible</option>
                <option value="hidden">Oculto</option>
              </select>
            </div>
            <div class="input-container">
              <label class="input-label">Fecha en la que se produce o se detecta el fallo</label>
              <input type="date" value="{{ create_incident_form.occurrence_date.value|default:''|date:'Y-m-d' }}"
                class="input-box" name="occurrence_date" id="occurrence_date" />
            </div>
            <div class="input-container">
              <label class="input-label">Hora en la que se procuce o detecta el fallo</label>
              <input type="time" value="" class="input-box" name="occurrence_time" id="occurrence_time" />
            </div>
            <div class="input-container">
              <label class="input-label">Descripción del fallo</label>
              <textarea name="" rows="4" class="input-box" style="width: 143px;" value="" disabled></textarea>
            </div>
            <div class="input-container">
              <label class="input-label">Persona/Organismo que detecta el fallo</label>
              <input type="text" value="" class="input-box" name="" />
            </div>
            <div class="input-container">
              <label class="input-label">Persona de contacto</label>
              <input type="text" value="" class="input-box" name="" />
            </div>
            <div class="input-container">
              <label class="input-label">Persona que registra el fallo</label>
              <input type="text" value="" class="input-box" name="" disabled />
            </div>
          </div>
        </div>

        <div class="main-input-container">
          <h3 class="title-input-container">Atributos del PMM</h3>
          <div style="display: flex; flex-direction: column; justify-content: flex-end; width: auto;">
            <div class="input-container" style="padding-right: 230px;">
              <label for="pmmCheckbox" class="input-label">PMM</label>
              <input type="checkbox" value="" name="pmmCheckbox">
            </div>
            <div class="input-container">
              <label class="input-label">Nº PMM</label>
              <input type="text" value="" class="input-box" name="" />
            </div>
            <div class="input-container">
              <label class="input-label">Estado PMM</label>
              <input type="text" value="" class="input-box" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label">Precedencia PMM</label>
              <input type="text" value="" class="input-box" name="" disabled />
            </div>
            <div class="input-container" style="padding-right: 230px;">
              <label for="varop" class="input-label">VAROP</label>
              <input type="checkbox" value="" name="varop">
            </div>
            <div class="input-container">
              <label class="input-label">Código VAROP</label>
              <input type="text" value="" class="input-box" name="" disabled />
            </div>
            <div class="input-container">
              <label class="input-label">Riesgo SEGOP PMM</label>
              <input type="text" value="" class="input-box" name="" disabled />
            </div>
          </div>
        </div>

        <div class="main-input-container">
          <h3 class="title-input-container">Adjunto de Creación de Incidente </h3>
          <div class="input-container">
            <input type="file" class="input-box" style="width: 100%;" name="attachments_incidents" />
          </div>
        </div>
      </div>

    </div>
  </form>
  <!-- <button onclick="openPopup()">popup</button> -->
</div>
<script src="{% static 'js/dynamicSelectors.js' %}"></script>

<script>
  const createConfirmationPopupContainer = document.getElementById('create-confirmation-popup-container');
  const createForm = document.getElementById("create-form");
  const createButton = document.getElementById("create-incident-button");
  const popupOkButton = document.getElementById("popup-ok-button");

  // Function to open the create-confirmation-popup-container
  function openPopup(container) {
    container.style.display = 'flex';
    createButton.disabled = true;
  }

  // Function to close the create-confirmation-popup-container
  function closePopup() {
    createConfirmationPopupContainer.style.display = 'none';
    createButton.disabled = false;
  }

  createForm.addEventListener("submit", (e) => {
    e.preventDefault();
    openPopup(createConfirmationPopupContainer);

    // fetch(createForm.action, {
    //   method: createForm.method,
    //   headers: {
    //     'Content-Type': 'application/json',
    //   },
    // })
    //   .then((response) => {
    //     if (response.ok) {
    //       openPopup(createConfirmationPopupContainer);
    //     } else {
    //       throw new Error('Creation failed');
    //     }
    //   })
    //   .catch((error) => {
    //     console.error("Error during creation:", error);
    //   });
  });
</script>

{% endblock %}
