{% load custom_filters %} 
<tr class="clickable-row" value="{{ incident.ID }}" style="cursor: pointer;">
    <td>{{ row_number }}</td>
    <td>{{ incident.ID }}</td>
    <td>{{ incident.Identifier }}</td>
    <td>{{ incident.IncidentUser }}</td>
    <td>{{ incident.DateStart|format_datetime}}</td>
    <td>{{ incident.TreeName }}</td>
    <td>{{ incident.DateStart|format_datetime}}</td>
    <td>{{ incident.Closed }}</td>
    <td>{{ incident.Relevant }}</td>
    <td>{{ incident.Chargeable }}</td>
    <td>{{ incident.Approval }}</td>
</tr>