{% extends 'index.html' %}

{% load static %}

<!-- {% load custom_filters %}  -->

{% block content %}

<div class="container">
    <div class="table-container">
        <table style="table-layout: fixed;
        width: 100%;">
            <thead style="position: sticky;
            top: 0;">
                {% include 'base/incidents/table_header.html' %}
            </thead>
            <tbody>
                {% for incident in page_obj %}
                {% with row_number=forloop.counter|add:start_number %}
                {% include 'base/incidents/table_row.html' %}
                {% endwith %}
                {% empty %}
                <tr>
                    <td colspan=3 style="text-align: center;">No hay incidentes para mostrar</td>
                    <!-- Reemplaza colspan con el número de columnas -->
                </tr>
                {% endfor %}
                <tr style="background-color: #ffce55; height: 10px;">
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Controles de paginación -->
    <div class="pagination">
        <div class="pagination-container">
            {% if page_obj.has_previous %}
            <a class="pagination-button"
                href="?page=1&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">&laquo;
                Primera</a>
            <a class="pagination-button"
                href="?page={{ page_obj.previous_page_number }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a class="pagination-button"
                href="?page={{ page_obj.next_page_number }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">Siguiente</a>
            <a class="pagination-button"
                href="?page={{ page_obj.paginator.num_pages }}&system_id={{ request.GET.system_id }}&configuration_id={{ request.GET.configuration_id }}&tree_item_id={{ request.GET.tree_item_id }}&filter_column={{ request.GET.filter_column }}&filter_value={{ request.GET.filter_value }}">Última
                &raquo;</a>
            {% endif %}
        </div>

        <!-- Formulario para la exportacion a excel -->
        <form action="{% url 'export_incidents' %}" method="get" class="export-form-button">
            <button type="submit">Exportar a Excel</button>
        </form>
    </div>
</div>

{% endblock %}